    <div class="main">
        <div class="m_block">
            <iframe src="https://player.twitch.tv/?channel=chess24&parent=localhost&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" width="800" height="450"></iframe>
        </div>
        <div class="m_block">
            <div class="zone">
                <div class="boxZone">
                    <div class="bz_title-a"><span>zone "A"</span></div>
                    <table>
                        <thead>
                            <tr>
                                <td>Место</td>
                                <td></td>
                                <td>Полное название</td>
                                <td>Клантег</td>
                                <td>Очки</td>
                                <td>В</td>
                                <td>Н</td>
                                <td>П</td>
                                <td>СЕ</td>								
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr><tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr><tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr><tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-up"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td><img class="bz_country" src="img/flags/ru.png" alt=""></td>
                                <td><a href="" class="bz_profile">Red October</a></td>
                                <td>RO</td>
                                <td><span class="bz_points">2220</span><div class="bz_status-down"></div></td>
                                <td>69</td>
                                <td>10</td>
                                <td>27</td>
                                <td>+1</td>								
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>					
        </div>
        <div class="m_block">NEWs #2</div>
        <div class="m_block">NEWs #3</div>
        <div class="m_block">NEWs #4</div>
    </div>