<div class="side-left">
    <div class="sl_block"><span class="block_title">карточка игрока</span></div>
    <div class="sl_block">
        <span class="block_title">решения</span>
        <div class="block_content">
            <div class="block_item">
                <div class="server">
                    <span class="server_group">02/02/26 17:38</span>
                    <span class="server_name">#4ec8x1</span>
                    <span class="server_slots">5/5</span>
                </div>
            </div>
            <div class="block_item">
                <div class="server">
                    <span class="server_group">02/02/26 17:31</span>
                    <span class="server_name">#5er3xc</span>
                    <span class="server_slots">4/5</span>
                </div>
            </div>                
        </div>
    </div>
    <div class="sl_block">TECH #3</div>
</div>