<div class="header"><span>Шахматные задачи</span></div>
<div class="menu">
    <ul>
        <li><a class="icon-home" href="/" routerLink="/" routerLinkActive="menu active" [routerLinkActiveOptions]="{ exact: true }"></a></li>
        <li><a class="icon-bank" href="puzzles" routerLink="puzzles" routerLinkActive="menu active">задачи</a></li>
        <li><a class="icon-monitor" href="favs" routerLink="favs" routerLinkActive="menu active">избранное</a></li>		
        <li><a class="icon-trophy" href="stats" routerLink="stats" routerLinkActive="menu active">рейтинг шахматистов</a></li>		
        <li class="right"><a class="red icon-crown-plus" href="premium" routerLink="premium" routerLinkActive="menu active-red">Подписка</a></li>
    </ul>
</div>