@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,cyrillic);
@import "compass-mixins/lib/compass/utilities/general/clearfix";
@import "compass-mixins/lib/compass/css3/user-interface";
@import "compass-mixins/lib/compass/layout/sticky-footer";
@import "compass-mixins/lib/compass/css3/box-shadow";


@import "../vendor/css/fontello-1.css";

//vars

$content: 1024px;
$color1: #818fa7;
$margin: 30px;

//vars 
$white: #e4e5e7;
$blue-grey: #818fa7;
$dodger-blue: #328afb;
$slate: #455268;
$azure: #009ffb;
$cloudy-blue: #c8d0e0;
$blue-grey-two: #5e6d86;
$gunmetal: #4a5160;
$gunmetal-h: #575e6b;
$dark-two: #1c2e36;
$dark-grey-blue: #374357;
$dark-grey-blue-two: #344054;
$white-two: #f7f7f7;
$algae-green: #23c560;
$butterscotch: #ffc139;
$watermelon: #fb515d;
$shamrock-green: #01bf44;

$base: lighten(#000,5%);

$blue: #1ce9ff;

$whitehover: #fff;
$header1_new_bg: #2e394a;
$blue-grey: #818fa7;
$red: #eb484a;


html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: $color1;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	background: #262D3C;
}

.wrapper {	
	width: $content;
	margin: 0 auto;
	// border-left: 1px solid black;
	// border-right: 1px solid black;
	

	.header {
		@extend %shadow;
		width: 100%;
		height: 200px;
		//text-align: center;
	    //margin-bottom: $margin;
	    background: url('../images/istockphoto-1413963954-1024x1024.jpg') no-repeat;
        background-position: bottom;
	    span {
		    font-size: 3.2rem;
		    line-height: 1.0;
		    color: #FFFFFF;
		    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.78);
		    position: relative;
		    left: 17px;
		    top: 8px;
	    }
	}

	.menu {
		@extend %shadow;
		width: 100%;
		height: 50px;
		ul {
			@include pie-clearfix;
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
            background-color: #1a2333;
			
			li {
				display: inline-block;
				float: left;
				a {
					width: auto;
					display: block;
					font-size: 2rem;
					text-transform: uppercase;
					text-decoration: none;
					color: $color1;
					line-height: 50px;
					background-color: #1a2333;
					padding: 0 15px;
					transition: all .25s;
					-webkit-transition: all .25s;
					
					&:hover {
						@extend .active;
					}

				}
				.red {
					width: auto;
					&:hover {
						@extend .active-red;
					}
				}				
				.active {
					background: $color1;
					color: #fff;						
				}
				.active-red {
					background: #9a3b3be8;
					color: #fff;						
				}				

			}
            .right {
                float: right
            }
		}	

	}




	.content {
		@include pie-clearfix;
		width: 100%;
		margin: $margin 0;
	}
}

.footer {
    @extend %shadow;
	width: $content;
	margin: 0 auto;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 3.5rem;
    background: #1a2333
}	

@include sticky-footer(65px, ".wrapper", ".footer", ".footer-box");
.noselect {
	@include user-select(none);
}

%shadow {
	@include box-shadow(0px 1px 1px 0px rgba(0,0,0,0.1));
}

%side {
	width: calc(18% - 1px);
}

%block {
	@extend %shadow;
	// height: 150px;
	font-size: 1.6rem;
	background: #1a2333;	
	border: 1px solid #e4e5e7;
	margin-bottom: $margin;
    color: #e4e5e7;
	padding: 10px;
	&:last-of-type{
		margin-bottom: 0;
	}

	.block_title {
		text-align: center;
		display: block;
		font-size: 1.5rem;
		line-height: 1.3;
		font-weight: 500;
		text-transform: uppercase;
	}
	.block_content {
		margin-top: 10px;
	}

	.block_submit {
		margin-top: 15px;
	}
}

.side-left {	
	@extend %side;
	float: left;
	.sl_block {
		@extend %block;
	}
}

.side-right {	
	@extend %side;
	float: right;
	.sr_block {
		@extend %block;
	}	
}

.main {
	width: 80%;
	float: left;
	margin-left: 2%;
	.m_block {
		@extend %block;
	}
}

.server {
	@include pie-clearfix;
	font-size: 0;
	margin: 10px 0;
	span {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.0;
	}
	.server_group {
		display: block;
		font-weight: 500;
		font-size: 1rem;
		margin-bottom: 3px;
	}
	.server_name {
		display: inline-block;
		vertical-align: top;
		margin-top: 8px;
		//margin-left: 5px;
		white-space: nowrap;
		width: 75px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.server_slots {
		display: inline-block;
		vertical-align: top;
		margin-top: 8px;
		margin-left: 5px;
		float: right;
	}
	.server_icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
	}
}

%inb {
	display: inline-block;
	vertical-align: top;
}



.boxZone {
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
	%bz_title {
		width: 100%;
		height: 60px;
		background: #000;
		span {
			font-weight: 900;
			text-transform: uppercase;
			font-size: 30px;
			margin-left: 20px;
			line-height: 60px;
		}
	}
	.bz_title-a {
		@extend %bz_title;
		color: #ff9900;
	}
	.bz_title-b {
		@extend %bz_title;
		color: #ccc;
	}
	.bz_title-c {
		@extend %bz_title;
		color: #9d5f00;
	}
	.bz_title-d {
		@extend %bz_title;
		color: #444;
	}
	.bz_title-new {
		@extend %bz_title;
		color: #00bd3a;
	}

	.bz_country {
			width: 16px;
			height: 11px;
		}
	.bz_profile {
			color: #000;
			font-weight: 700;
			font-size: 12px;		
			text-decoration: underline;
			&:hover {
				color: #ccc;
			}
	}
	.bz_points {
		@extend %inb;
		width: 25px;
		text-align: right;
		
	}
	%bz_status {
		@extend %inb;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5.5px 9.5px 5.5px;
		margin: 0 5px;

	}
	.bz_status-up {
		@extend %bz_status;
		border-color: transparent transparent #3b9d08 transparent;
		margin-top: 1px;
	}	
	.bz_status-down {
		@extend %bz_status;
		transform: rotate(180deg);
		border-color: transparent transparent #a90000 transparent;
		margin-top: 2px;
	}	
	table {
		width: 100%;
		border-collapse: collapse;
		td {
			&:nth-child(6){
				text-align: center;
			}
			&:nth-child(7){
				text-align: center;
			}
			&:nth-child(8){
				text-align: center;
			}
			&:nth-child(9){
				text-align: center;
			}
		}
		thead {
			tr {
				background-color: #444444;
				border-bottom: 1px solid #333333;
			}
			td {
				height: 20px;
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #333333;
				cursor: pointer;
				&:nth-child(odd){
					background-color: #777777;
				}
				&:nth-child(even){
					background-color: #7e7e7e;
				}
				&:hover {
					background-color: #666;
				}
			} 
			td {
				height: 32px;
				font-weight: 500;
				font-size: 11px; 
				&:nth-child(1){
					padding: 0 10px;
				}

			}
		}
	}
}


.auth {
	width: 35%;
	margin: 0 auto;
	text-align: center;
	.auth_header {
		color: $white;
		font-size: 3.2rem;
		line-height: 4rem;
		font-weight: 300;
	}
	.auth_descr {		
		margin-top: 1.2rem;
		font-size: 1.6rem;
		line-height: 2rem;
		font-weight: 400;
		color: $blue-grey;		
		text-align: center;
	}
	.auth_submit {
		margin: 0 auto;
		margin-top: 35px;
	}
	.auth_submit-side {
		@extend .auth_submit;
		margin-top: 25px;
	}	
	
	.auth_extralink {
		display: inline-block;
		margin-top: 25px;
		margin-bottom: 15px;
		color: $blue-grey;
		text-decoration: none;
		font-size: 1.6rem;
		line-height: 2.4rem;
		&:hover {
			text-decoration: underline;
		}
	}
	.auth_template-list {
		margin-top: 48px;
		font-size: 0;
		.atl_item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin-right: 24px;
			margin-bottom: 24px;
			&:hover {
				@extend .atl_item_hover;
			}
		}
		.atl_item_loading {
			@extend .atl_item_hover;
			opacity: 0.5;
		}
		.atl_item_hover {
			.card_item {
				z-index: 10;
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
				box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
				-webkit-box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
			}			
		}
	}
	.input_box {
		margin: 0 auto;
		margin-top: 25px;
		width: 100%;
	}
	.input_box_input {
		color: $white;
		background: transparent;
	}
}

.btn_type-1 {
	@include user-select(none);
	cursor: pointer;	
    width: 100%;
    text-align: center;
    line-height: 48px;
    background: $dodger-blue;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 6px;
    &:hover {
    	background: lighten($dodger-blue,5%);
    }
}

.btn_type-1_sm {
	@extend .btn_type-1;
	font-size: 1.4rem;
	line-height: 35px;
}

.btn_type-1_loading {
	cursor: default;
	background: $slate;
	color: $blue-grey-two;
	&:hover {
		background: $slate;
		color: $blue-grey-two;
	}
}

.btn_type-2 {
	@include user-select(none);
	cursor: pointer;
    width: auto;
    text-align: center;
    line-height: 32px;
    background: transparent;
    border: 2px solid $blue-grey;
    display: block;
    color: $white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0 35px;
    border-radius: 4px;
    &:hover {
    	@extend .btn_type-2-hover;
    }
    // &:active {
    // 	background: #3182ea;
    // }
}

.btn_type-2_sm {
	@extend .btn_type-2;
	font-size: 1.4rem;
	line-height: 35px;
}

.btn_type-2-hover {
	background: rgba(129, 143, 167, 0.15);
}

.btn_type-2_loading {
	cursor: default;
	background: rgba(129, 143, 167, 0.50);
	&:hover {
		cursor: default;
		background: rgba(129, 143, 167, 0.50);
	}
}

.btn_type-3 {
	@include user-select(none);
	cursor: pointer;
    width: auto;
    text-align: center;
    line-height: 40px;
    background: $gunmetal;
    border: 0;
    display: block;
    color: $white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 35px;
    border-radius: 4px;
    &:hover {
    	@extend .btn_type-3-hover;
    }
    // &:active {
    // 	background: #3182ea;
    // }
}

.btn_type-3-hover {
	background: $gunmetal-h;
}

.btn_type-3_loading {
	background: $gunmetal;
	cursor: default;
	opacity: 0.5;
	&:hover {
		background: $gunmetal;
		cursor: default;
		opacity: 0.5;
	}
}


.input_box {
	position: relative;
	.input_box_input {
		@include input-placeholder {
			color: $blue-grey;
		}		
		position: relative;
		z-index: 2;
	    display: block;
	    width: 100%;
	    font-size: 1.6rem;
	    line-height: 2.4rem;
	    height: 24px;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 400;
	    color: #000;
	    border: 0;
	    /* padding: 0 10px; */
	    box-sizing: border-box;
	    background: none;
	    color: $white;
	    margin-bottom: 5px;
		&:focus {
			outline: 0;
		}	
	}
	.input_box_error {
		float: left;
		cursor: default;
		text-align: left;
		line-height: 2.5rem;
		height: 25px;
		font-size: 1.2rem;
		color: $watermelon;
		font-weight: 400;
		margin-top: 3px;
		span {
			display: inline;
		}
	}
	.input_box_label {
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 4px; //-15px
	    left: 0px;
	    font-weight: 300;
	    color: $blue-grey;
	    font-size: 1.6rem; //1.2rem
	}
	.input_box_link_editor {
		position: absolute;
		z-index: 2;
		right: 0;
		top: 3px;
		font-size: 1.6rem;
		color: $azure;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	.input_box_link_editor-filled {
		color: $shamrock-green;
	}
	.input_box_counter {
		float: right;
		color: $blue-grey;
		font-size: 1.2rem;
		margin-top: 3px;
	}
	.input_box_line {
		display: block;
		width: 100%;
		height: 2px;
		.input_box_line_1 {
			height: 1px;
			width: 100%;
			background: $slate;
		}
		.input_box_line_2 {
			opacity: 0;
			height: 1px;
			width: 100%;
		}
	}
	.input_box_line-blue {
		.input_box_line_1 {
			background: $dodger-blue;
		}
		.input_box_line_2 {
			opacity: 1;
			background: $dodger-blue;
		}
	}
	.input_box_line-red {
		.input_box_line_1 {
			background: $watermelon;
		}
		.input_box_line_2 {
			opacity: 1;
			background: $watermelon;
		}
	}
}