@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,cyrillic);
@import "compass-mixins/lib/compass/utilities/general/clearfix";
@import "compass-mixins/lib/compass/css3/user-interface";
@import "compass-mixins/lib/compass/layout/sticky-footer";
@import "compass-mixins/lib/compass/css3/box-shadow";


@import "../vendor/css/fontello-1.css";

//vars

$content: 1024px;
$color1: #818fa7;
$margin: 30px;

//vars 
$white: #e4e5e7;
$blue-grey: #818fa7;
$dodger-blue: #328afb;
$slate: #455268;
$azure: #009ffb;
$cloudy-blue: #c8d0e0;
$blue-grey-two: #5e6d86;
$gunmetal: #4a5160;
$gunmetal-h: #575e6b;
$dark-two: #1c2e36;
$dark-grey-blue: #374357;
$dark-grey-blue-two: #344054;
$white-two: #f7f7f7;
$algae-green: #23c560;
$butterscotch: #ffc139;
$watermelon: #fb515d;
$shamrock-green: #01bf44;

$base: lighten(#000,5%);

$blue: #1ce9ff;

$whitehover: #fff;
$header1_new_bg: #2e394a;
$blue-grey: #818fa7;
$red: #eb484a;


html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: $color1;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	background: #262D3C;
}

.wrapper {	
	width: $content;
	margin: 0 auto;
	// border-left: 1px solid black;
	// border-right: 1px solid black;
	

	.header {
		@extend %shadow;
		width: 100%;
		height: 200px;
		//text-align: center;
	    //margin-bottom: $margin;
	    background: url('../images/istockphoto-1413963954-1024x1024.jpg') no-repeat;
        background-position: bottom;
	    span {
		    font-size: 3.2rem;
		    line-height: 1.0;
		    color: #FFFFFF;
		    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.78);
		    position: relative;
		    left: 17px;
		    top: 8px;
	    }
	}

	.menu {
		@extend %shadow;
		width: 100%;
		height: 50px;
		ul {
			@include pie-clearfix;
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
            background-color: #1a2333;
			
			li {
				display: inline-block;
				float: left;
				a {
					display: block;
					font-size: 2rem;
					text-transform: uppercase;
					text-decoration: none;
					color: $color1;
					line-height: 50px;
					background-color: #1a2333;
					padding: 0 15px;
					transition: all .25s;
					-webkit-transition: all .25s;
					
					&:hover {
						@extend .active;
					}


				}
				.active {
					background: $color1;
					color: #fff;						
				}

			}
            .right {
                float: right
            }
		}	

	}




	.content {
		@include pie-clearfix;
		width: 100%;
		margin: $margin 0;
	}
}

.footer {
    @extend %shadow;
	width: $content;
	margin: 0 auto;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 3.5rem;
    background: #1a2333
}	

@include sticky-footer(65px, ".wrapper", ".footer", ".footer-box");
.noselect {
	@include user-select(none);
}

%shadow {
	@include box-shadow(0px 1px 1px 0px rgba(0,0,0,0.1));
}

%side {
	width: calc(18% - 1px);
}

%block {
	@extend %shadow;
	// height: 150px;
	font-size: 1.6rem;
	background: #1a2333;	
	margin-bottom: $margin;
    color: #e4e5e7;
	padding: 10px;
	&:last-of-type{
		margin-bottom: 0;
	}

	.block_title {
		display: block;
		font-size: 1.5rem;
		line-height: 1.3;
		font-weight: 500;
		text-transform: uppercase;
	}
	.block_content {
		margin-top: 10px;
	}
}

.side-left {	
	@extend %side;
	float: left;
	.sl_block {
		@extend %block;
	}
}

.side-right {	
	@extend %side;
	float: right;
	.sr_block {
		@extend %block;
	}	
}

.main {
	width: 80%;
	float: left;
	margin-left: 2%;
	.m_block {
		@extend %block;
	}
}

.server {
	@include pie-clearfix;
	font-size: 0;
	margin: 10px 0;
	span {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.0;
	}
	.server_group {
		display: block;
		font-weight: 500;
		font-size: 1rem;
		margin-bottom: 3px;
	}
	.server_name {
		display: inline-block;
		vertical-align: top;
		margin-top: 8px;
		//margin-left: 5px;
		white-space: nowrap;
		width: 75px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.server_slots {
		display: inline-block;
		vertical-align: top;
		margin-top: 8px;
		margin-left: 5px;
		float: right;
	}
	.server_icon {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
	}
}

%inb {
	display: inline-block;
	vertical-align: top;
}



.boxZone {
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
	%bz_title {
		width: 100%;
		height: 60px;
		background: #000;
		span {
			font-weight: 900;
			text-transform: uppercase;
			font-size: 30px;
			margin-left: 20px;
			line-height: 60px;
		}
	}
	.bz_title-a {
		@extend %bz_title;
		color: #ff9900;
	}
	.bz_title-b {
		@extend %bz_title;
		color: #ccc;
	}
	.bz_title-c {
		@extend %bz_title;
		color: #9d5f00;
	}
	.bz_title-d {
		@extend %bz_title;
		color: #444;
	}
	.bz_title-new {
		@extend %bz_title;
		color: #00bd3a;
	}

	.bz_country {
			width: 16px;
			height: 11px;
		}
	.bz_profile {
			color: #000;
			font-weight: 700;
			font-size: 12px;		
			text-decoration: underline;
			&:hover {
				color: #ccc;
			}
	}
	.bz_points {
		@extend %inb;
		width: 25px;
		text-align: right;
		
	}
	%bz_status {
		@extend %inb;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5.5px 9.5px 5.5px;
		margin: 0 5px;

	}
	.bz_status-up {
		@extend %bz_status;
		border-color: transparent transparent #3b9d08 transparent;
		margin-top: 1px;
	}	
	.bz_status-down {
		@extend %bz_status;
		transform: rotate(180deg);
		border-color: transparent transparent #a90000 transparent;
		margin-top: 2px;
	}	
	table {
		width: 100%;
		border-collapse: collapse;
		td {
			&:nth-child(6){
				text-align: center;
			}
			&:nth-child(7){
				text-align: center;
			}
			&:nth-child(8){
				text-align: center;
			}
			&:nth-child(9){
				text-align: center;
			}
		}
		thead {
			tr {
				background-color: #444444;
				border-bottom: 1px solid #333333;
			}
			td {
				height: 20px;
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #333333;
				cursor: pointer;
				&:nth-child(odd){
					background-color: #777777;
				}
				&:nth-child(even){
					background-color: #7e7e7e;
				}
				&:hover {
					background-color: #666;
				}
			} 
			td {
				height: 32px;
				font-weight: 500;
				font-size: 11px; 
				&:nth-child(1){
					padding: 0 10px;
				}

			}
		}
	}
}


